.block-h1 {
  font-size: 32px;
  font-weight: 600;
}
.block-h2 {
  font-size: 24px;
  font-weight: 600;
}
.block-h3 {
  font-size: 18px;
  font-weight: 600;
}
.block-h4 {
  font-size: 16px;
  font-weight: 600;
}