.block-container {
  position: relative;
  padding-left: 36px;
}

.block-content {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.block-child-container {
  border-left: 1px solid #eee;
  margin-left: -11px;
}

/* Dots */
.block-container:before {
  content: "";
  width: 6px;
  height: 6px;
  top: calc(9px);
  left: calc(22px);
  display: block;
  background-color: #ddd;
  position: absolute;
  border-radius: 100px;
}

/* Chevrons */
.block-container.open:after {
  content: "";
  overflow: hidden;
  border-top: 7px solid #dddddd;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  vertical-align: top;
  position: absolute;
  top: calc(9.5px);
  left: calc(7.5px);
  cursor: pointer;
}

.block-container.closed:after {
  content: "";
  overflow: hidden;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #dddddd;
  vertical-align: top;
  position: absolute;
  top: calc(8.5px);
  left: calc(8.5px);
  cursor: pointer;
}

/* only show if block-content is hovered and block child container has children */
.block-container:after {
  display: none;
}
.block-container:hover:has(> .block-child-container > div):after {
  display: block;
}

.block-container.open .block-child-container {
  display: block;
}

.block-container.closed .block-child-container {
  display: none;
}
