/* .block-note > .block-container > .block-content > *:first-child:before {
  display: none;
}

.block-note > .block-container > .block-content > *:first-child:before {
  display: block;
}

.block-container:has(> .block-content) > .block-content > *:first-child:after {
  display: none;
}

.block-container:has(> .block-content:hover) > .block-content > *:first-child:after {
  display: block;
} */

.block-note:first-of-type {
  margin-top: 0;
}
.block-note {
  margin-top: 40px;
  margin-bottom: 40px;
}