/* .block-note > .block-container > .block-content > *:first-child:before {
  display: none;
}

.block-note > .block-container > .block-content > *:first-child:before {
  display: block;
}

.block-container:has(> .block-content) > .block-content > *:first-child:after {
  display: none;
}

.block-container:has(> .block-content:hover) > .block-content > *:first-child:after {
  display: block;
} */

.block-note:first-of-type {
  padding-top: 0;
}
.block-note {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 36px;
}
